
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Gilded Rose Inventory Management</h5>
            </div>
            <div class="card-body">
                <div class="text-center bg-danger text-white p-2 rounded" *ngIf="errrorMessage">
                    {{errrorMessage}}
                </div>
                <div class="text-center bg-light p-2 rounded" *ngIf="inventory?.length <= 0">
                    No item in the inventory
                </div>
                <div *ngIf="inventory?.length > 0">
                    <table class="table table-striped">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>Name</th>
                                <th>Sell In</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of inventory">
                                <td>{{item?.name}}</td>
                                <td>{{item?.sellIn}}</td>
                                <td>{{item?.quality}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">JSON Upload file</h5>
            </div>
            <div class="card-body">
                
                <form [formGroup]="jsonFileForm" (submit)="upload()">
                    <div class="form-group">
                      <label for="fileUpload">JSON file upload</label>
                      <input type="file" class="form-control-file" id="fileUpload" (change)="chooseFile($event)">
                    </div>
                    <button class="btn btn-primary btn-block">Upload</button>
                </form>
            </div>
        </div>   
        <div class="card mt-5">
            <div class="card-header">
                <h5 class="card-title">Goods input form</h5>
            </div>
            <div class="card-body">
            </div>
        </div>   
    </div>
</div>