
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Gilded Rose Inventory Management</h5>
            </div>
            <div class="card-body">
            </div>
        </div>    
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">JSON Upload file</h5>
            </div>
            <div class="card-body">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

                <form [formGroup]="jsonFileForm" (submit)="upload()">
                    <div class="form-group">
                      <label for="fileUpload">JSON file upload</label>
                      <input type="file" class="form-control-file" id="fileUpload" (change)="chooseFile($event)">
                    </div>
                    <button class="btn btn-primary btn-block">Upload</button>
                </form>
            </div>
        </div>   
        <div class="card mt-5">
            <div class="card-header">
                <h5 class="card-title">Goods input form</h5>
            </div>
            <div class="card-body">
            </div>
        </div>   
    </div>
</div>